.cardflex{
    display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line if they exceed the container's width */
  gap:0px; /* Adds space between items */
  width: auto !important;
  background-image:  url('https://wallpaperaccess.com/full/113299.jpg');
}